/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


.style-success {
    color: white;
    background-color:green ;
  }

  .style-warning {
    color: black;
    background-color: yellow;
  }
  .style-error {
    color: black;
    background-color: red;
  }