.updateBranch{
    background-color: green;
    color: rgb(240, 227, 227);

}

.deleteBranch{
    background-color: rgb(211, 18, 18);
    color:rgb(240, 227, 227);
}

.create{
    background-color: green;
    width: 18%;
}

.allBranches{
    margin-left: 20px;
}
.half-width{
    width: 50%;
}

