<div>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle routerLink="/Branches/all" value="Branches">Branches</mat-button-toggle>
    <mat-button-toggle routerLink="/Branches/WorkPositions" value="Work position">Work positions</mat-button-toggle>
    <mat-button-toggle routerLink="/Branches/History" value="Work position history">Work position history</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="create" >
    <mat-expansion-panel #createBranch>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="material-icons">add</i>Create new Branch
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="branchFormGroup" (ngSubmit)="create(branchFormGroup)">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="branchFormGroup.invalid">{{getErrorMessage(branchFormGroup,"name")}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="address">
          <mat-error *ngIf="branchFormGroup.invalid">{{getErrorMessage(branchFormGroup,"address")}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker3" placeholder="Created" formControlName="created">
          <mat-error *ngIf="branchFormGroup.invalid">{{getErrorMessage(branchFormGroup,"created")}}</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <div>
          <button class="updateBranch" type="submit" mat-raised-button>Create Branch</button>
        </div>
      </form>
    </mat-expansion-panel>
</div>

<h2 class="allBranches">All Branches: </h2>

<div *ngFor="let form of forms">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="half-width">
          {{form.get("name").value}}
        </mat-panel-title>
        <mat-panel-description class="half-width">
          <strong>Address: </strong>
          {{form.get("address").value}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    
        <form id="update" [formGroup]="form" (ngSubmit)="update(form)">
          <div class="row">         
              <mat-form-field class="col-md-4">
                <input matInput placeholder="Name" formControlName="name">
              </mat-form-field>
              <mat-form-field class="col-md-4">
                <input matInput placeholder="Address" formControlName="address">
              </mat-form-field>
              <mat-form-field class="col-md-4">
                <input matInput [matDatepicker]="picker3" placeholder="Created" formControlName="created">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-auto">
              <button class="updateBranch"  type="submit" mat-raised-button>Update Branch</button>
            </div>
            <div class="col-auto">
              <button class="deleteBranch" type="button" (click)="deleteBranch(form)" mat-raised-button
              color="warn">Delete Branch</button>
            </div>
          </div>
        </form>
        
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = getServerData($event)">
              
</mat-paginator>

