<!--The content below is only a placeholder and can be replaced.-->
  <div>
<div>{{'HOME.HELLO' | translate}}</div>
<select #langSelect (change)="translate.use(langSelect.value)">
  <option *ngFor="let lang of translate.getLangs()" 
          [value]="lang"
          [selected]="lang === translate.currentLang" >{{ lang }} <option>
</select>
    <img src="../assets/CiteLogo.jpeg" align="center" class="citeLogo" alt="">
  </div>
  <app-nav></app-nav>
