<mat-button-toggle-group  #group="matButtonToggleGroup">
    <mat-button-toggle routerLink="/Branches" value="left">
        <i class="fa fa-home"></i>
        <strong>{{'NAV.BRANCHES' | translate}}</strong>
    </mat-button-toggle>

    <mat-button-toggle  routerLink="/Employees" value="center">
        <i class="fa fa-users"></i>
        <strong>{{'NAV.EMPLOYEES' | translate}}</strong>
    </mat-button-toggle>

    <mat-button-toggle routerLink="/Equipment" value="right">
        <i class="fa fa-wrench"></i>
        <strong>{{'NAV.EQUIPMENT' | translate}}</strong>
    </mat-button-toggle>

    <mat-button-toggle routerLink="/WorkPositions" value="right">
        <i class="fa fa-desktop"></i>
        <strong>{{'NAV.WORKPOSITIONS' | translate}}</strong>
    </mat-button-toggle>
  </mat-button-toggle-group>


  
